/* You can add global styles to this file, and also import other style files */

// Angular Material theming
@use '@angular/material' as mat;

// Include Angular Material core
@include mat.core();

// Define a light theme
$light-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette);
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

// Define a dark theme
$dark-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette);
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// Apply the light theme by default
@include mat.all-component-themes($light-theme);

// Apply dark theme when .dark-mode class is present
.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

